:root {
    --cor-primaria: #243B55
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

html,
body,
h1,
h2,
p,
img,
ul,
li {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.paragrafo-main {
    max-width: 75ch;
    color: white;
    line-height: 1.5;
    font-size: 1.125rem;
    text-shadow: 1px 1px 2px #000;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 15px;
    animation: animaUp 1.2s ease-in;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-shrink: 1;
}


.header-menu {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.header-menu a {
    padding: 16px 0;
    font-size: 1.5rem;
    display: inline-block;
    position: relative;
    font-weight: 600;
    color: white;
}

.header-menu a:hover {
    transition: 0.3s;
}

.header-menu a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background: white;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover::after {
    width: 100%;
}

#btn-mobile {
    display: none;
}

.bg-main {
    background: url(../img/bg-azul.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-jornada {
    background: url(../img/bg-jornada.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-sistema {
    background: url(../img/bg-sistema.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-telemetria {
    background: url(../img/bg-telemetria.jpg) no-repeat center;
    background-size: cover;
}



.titulo {
    color: white;
    text-transform: uppercase;
    max-width: 25ch;
    font-size: 4.875rem;
    animation: animaDown 1.2s ease-in;
}


.whats-icon {
    height: 80px;
    width: 120px;
    position: fixed;
    bottom: 45px;
    right: -20px;
    z-index: 99999;
}

.bg-gestao {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
}

.conteudo-gestao {
    padding: 20px;
}

.conteudo-gestao h1 {
    clip-path: polygon(85% 0, 100% 100%, 0 100%, 0 0);
    background: white;
    color: #141E30;
    font-size: 3.5rem;
}


.conteudo-gestao ul {
    color: white;
    font-size: 1.5rem;
}


.conteudo-gestao li::before {
    content: "";
    display: block;
}


.conteudo-gestao li+li {
    margin-top: 12px;
}

.titulo-lista {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.titulo-lista::after {
    content: "";
    display: block;
    height: 4px;
    width: 20%;
    background: #fff;
    margin-top: 12px;
}


.container-lista {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-lista li::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../icons/check.svg) no-repeat center;
    background-size: cover;
}

.container-lista li {
    display: flex;
    align-items: center;
    gap: 12px;
}

.container-lista img {
    width: 100%;
    height: 100%;
}


.lista {
    margin-top: 60px;
}


@keyframes animaDown {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animaUp {
    from {
        opacity: 0;
        transform: translateY(60px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animaLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.main {
    padding-top: 200px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main.main-jornada {
    padding-top: 100px;
    padding-bottom: 100px;
}


.cta {
    margin-top: 20px;
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: #141E30;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(255, 55%, 100%);
    place-self: start;
}

.cta::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

.cta:hover {
    cursor: pointer;
    color: white;
}

.cta:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}

.label-titulo {
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.1rem;
    animation: animaDown 2s ease-in;
}

.conteudo-gestao {
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-interno {
    justify-content: center;
}


.conteudo-right {
    padding-left: 20px;
}




@media (max-width: 1200px) {
    .header a::after {
        display: none;
    }

    .header-menu {
        gap: 20px;
    }

    .header-menu a {
        color: #fff;
        border-radius: 4px;
        background: #141E30;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #243B55, #141E30);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243B55, #141E30);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 12px 16px;
    }

    .main {
        padding: 40px 20px;
    }

}

@media (max-width: 700px) {
    .logo {
        width: 125px;
    }

    #nav button {
        display: flex;
        align-items: center;
    }

    .header-menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 110px;
        right: 0;
        background: #141E30;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #243B55, #141E30);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243B55, #141E30);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 0;
        transition: 0.6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    .header-menu.ativo {
        height: calc(100vh - 115px);
        visibility: visible;
        overflow-y: auto;
    }

    .header-menu a {
        display: block;
        padding: 1rem 0;
        margin: 0 1rem;
        border-radius: 0;
        background: transparent;
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        color: #fff;
    }


    .titulo {
        font-size: 2rem;
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1.4rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;

    }

    #hamburguer {
        display: block;
        border-top: 2px solid;
        border-color: var(--cor-primaria);
        width: 30px;
    }

    #hamburguer::after,
    #hamburguer::before {
        content: '';
        width: 30px;
        height: 2px;
        display: block;
        margin-top: 8px;
        background-color: currentColor;
        background: var(--cor-primaria);
        transition: 0.3s;
        position: relative;
    }

    #nav.ativo #hamburguer {
        border-top-color: transparent;
    }

    #nav.ativo #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.ativo #hamburguer::after {
        transform: rotate(-135deg);
        top: -10px;
    }

    .label-titulo {
        font-size: 0.875rem;
    }

    .cta {
        margin-top: 20px;
        font-size: 0.875rem;
        padding: 8px 16px;
    }


    .header {
        padding: 20px;
    }

    .main {
        padding: 40px 20px;
    }

    .paragrafo-main {
        font-size: 0.875rem;
        margin-top: 10px;
    }


    .container-lista {
        grid-template-columns: 1fr;
    }

    .img-lista {
        margin-top: 20px;
        order: 1;
    }

    .conteudo-gestao ul {
        font-size: 1rem;
    }

    .titulo-lista {
        font-size: 1.5rem;
    }

    .conteudo-right {
        padding-left: 0px;
    }

}


@media (max-width: 500px) {
    .header-menu {
        justify-content: center;
    }

    .bg-main {
        background: url(../img/bg-azul-mobile.jpg) no-repeat center;
        background-attachment: initial;
    }

    .conteudo-gestao h1 {
        font-size: 1.8rem;
    }

    .main.main-jornada {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.estilo-amarelo {
    color: #fde047;
}