.sobre {
    color: white;
    margin-top: 40px;
}


.sobre h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3rem;
}

.sobre h2::after {
    content: "";
    display: block;
    width: 10%;
    height: 4px;
    background: #fff;
    margin-top: 6px;
}

.sobre p {
    font-size: 1.5rem;
}


.slide-parceiros img {
    width: 200px;
}


@media (max-width:500px) {

    .slide-parceiros img {
        width: 100px;
    }

    .sobre h2 {
        font-size: 1.5rem;
    }

    .sobre p {
        font-size: 1.125rem;
    }
}