body {
    background: url(./img/svgline.svg);
    background-attachment: fixed;
}

.servicos {
    display: grid;
    place-items: center center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    gap: 40px;


}


.card {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.18);
}

.container-img {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.details {
    padding: 20px 10px;
    color: #f0f9ff;
}

.details h3 {
    display: inline-block;
    font-size: 1.25rem;
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #141E30;
    padding: 14px 28px;
    clip-path: polygon(calc(85%) 0, 100% 100%, 0 100%, 0 0);
}

.details p {
    line-height: 1.4;
    font-size: 1.125rem;
}

.container-img {
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.container-img img {
    width: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px 20px 0 0;
}

.card:hover .container-img img {
    transform: scale(1.2);
}

.titulo-servicos {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    clip-path: polygon(calc(85%) 0, 100% 100%, 0 100%, 0 0);
    font-weight: bold;
    padding: 20px 40px;
    color: #f0f9ff;
    margin-bottom: 20px;
    font-size: 3rem;
}

.paragrafo-servicos {
    font-weight: bold;
    color: #141E30;
    font-size: 2rem;
    max-width: 65ch;
    margin-bottom: 40px;
}

.parceiros {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
}


.swiper-wrapper {
    align-items: center;
    pointer-events: none;
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}


.contador {
    padding-bottom: 40px;
    font-size: 1.5rem;
    color: #f0f9ff;
    font-weight: bold;
}

.contador {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}


.contador span {
    font-family: monospace;
    font-size: 3.5rem;
    font-weight: 400;
}

.container-numero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.titulo-parceiros {
    color: white;
    text-align: center;
    margin-bottom: 40px;
}



/* 
.container-truck::before {
    content: "";
    height: 25px;
    width: 30px;
    background: url(./icons/truck.svg);
    display: block;
    place-self: center;
} */


@media(max-width: 500px) {

    .titulo-servicos {
        font-size: 1.5rem;
    }

    .paragrafo-servicos {
        font-size: 1.125rem;
    }

    .cards {
        padding: 0;
        gap: 20px;
    }

    .contador {
        padding-bottom: 40px;
        font-size: 1.2rem;
    }

    .contador {
        gap: 20px;
    }


    .contador span {
        font-size: 2.5rem;
    }

}