:root {
    --cor-primaria: #0c4a6e
}

* {
    font-family: 'Roboto', sans-serif;
}

html,
body,
h1,
h2,
p,
img,
ul,
li {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
}


.container {
    max-width: 1600px;
    margin: 0 auto;
}



.header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-menu {
    display: flex;
    gap: 12px;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--cor-primaria);
}


.links-menu a::after {
    content: "";
    width: 0%;
    margin-top: 4px;
    height: 2px;
    transition: 0.4s;
    display: block;
    background: var(--cor-primaria);
}

.links-menu a:hover:after {
    width: 100%;

}

.bg-main {
    background: url(./img/caminhaoAzul.png) no-repeat center;
    background-size: cover;
}


.titulo {
    color: white;
    text-transform: uppercase;
    max-width: 25ch;
    font-size: 4.875rem;
}

.main {

    padding-top: 200px;
    padding-bottom: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta {
    place-self: start;
    font-size: 1.5rem;
    background-color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: var(--cor-primaria);
    padding: 12px 24px;
    transition: 0.3s;
    border-radius: 30px;
    border: 4px solid #fff;
}

.label-titulo {
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.1rem;
}

.cta:hover {
    background: transparent;
    border: 4px solid #fff;
    color: #fff;
}